body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6  {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Georgia, tahoma, arial, simsun, "宋体", sans-serif;
    word-warp:break-word;
    word-break:break-all
}